@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border-[#f0ecec] rounded-full uppercase text-xs tracking-widest text-white mx-3 transition-all hover:text-[#F7AB0A]/40 hover:border-[#F7AB0A] hover:border-[1px];
  }
  .stroked-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.3px;
  }

  .contactInput {
    @apply outline-none bg-gray-700/50 rounded-sm border-b px-4 py-4 border-gray-500 text-white placeholder-slate-700 transition-all focus:border-[#FB923C]/40 focus:text-[#FB923C] hover:border-[#FB923C]/40     xs:w-60 xs:h-14;
  }

  .hover-translate {
    transition: transform 0.1s;
  }

  .hover-translate:hover {
    transform: translateY(-5px);
  }
}
